# Estuaries - preliminary data

Received from Christine Whitcraft on July 3, 2021. These seem to be raw data, and the data/format is not fully finalized. They can serve as examples for what kind of data we might expect.

## Vegetation Surveys

Five estuaries (Goleta Slough, Ventura River, Malibu Lagoon, Newport Bay and Batiquitos Lagoon) were surveyed in March/April. I think the vision is to sample twice yearly in the spring and fall. 

There are 3 stations per estuary - one on each "arm" (I think).

Two or 3 replicate transects are completed per station, ideally in low, mid, and upland habitats.

Along each transect, percent cover is estimated in 5 replicate plots. Percent cover of the following cover types is currently being measured:
- open
- dead plant material
- vegetative
- trash
- woody debris
- litter
- wrack
- macroalgae
- water

Scientific names are provided if relevant. The height of the tallest plant is often included, when relevant.

Numbers of invertebrates/invertebrate burrows are also counted within each replicate plot. These counts are provided as densities.

## Fish Seines and Cast Nets

In [4]:
## Imports

import pandas as pd
import numpy as np
import xlrd

In [11]:
## Load data

## Vegetation Surveys ------
# Load excel file
veg = pd.ExcelFile('SOP_11_Vegetation_data_withsummary.xls')
print(veg.sheet_names)

# Extract relevant sheets into dataframes
veg_sample = pd.read_excel(veg, 'sample_metadata')
veg_cover = pd.read_excel(veg, 'vegetativecover_data')
veg_epi = pd.read_excel(veg, 'epifauna_data')

## Fish Seines ------
# Load excel file
fish = pd.ExcelFile('SOP_9_Fish_Seines_data.xls')
print(fish.sheet_names)

# Extract relevant sheets into dataframes
fish_sample = pd.read_excel(fish, 'sample_metadata')
fish_abundance = pd.read_excel(fish, 'abundance_data')
fish_length = pd.read_excel(fish, 'length_data')

['protocol_metadata', 'sample_metadata', 'Veg summary stats', 'vegetativecover_data', 'epifauna_data', 'glossary', 'Lookup Lists']
['protocol_metadata', 'sample_metadata', 'abundance_data', 'length_data', 'glossary', 'Lookup Lists']

## Vegetation Surveys

Right now, the sample metadata doesn't add much. Just whether the tide was going in or out and who collected/entered the data. Lat, lons are not entered.

In [16]:
## Look at sample metadata

veg_sample.head()

,SiteID,EstuaryName,StationNo,SampleCollectionDate,Weather,Tide,TransectReplicate,TransectBeginLatitude,TransectBeginLongitude,TransectEndLatitude,TransectEndLongitude,Habitat,DataCollector,DataEntryPerson,SampleMetadataNotes
0,SC-GOL,Goleta Slough,1,2021-03-25,NaN,outgoing,1,NaN,NaN,NaN,NaN,low,"Christine, Sebastian",Jan Walker,NaN
1,SC-GOL,Goleta Slough,1,2021-03-25,NaN,outgoing,2,NaN,NaN,NaN,NaN,mid,"Christine, Sebastian",Jan Walker,NaN
2,SC-GOL,Goleta Slough,1,2021-03-25,NaN,outgoing,3,did not collect,NaN,NaN,NaN,upland,"Christine, Sebastian",Jan Walker,NaN
3,SC-GOL,Goleta Slough,2,2021-03-23,NaN,outgoing,1,NaN,NaN,NaN,NaN,low,"Parker, Sebastian",Jan Walker,NaN
4,SC-GOL,Goleta Slough,2,2021-03-23,NaN,outgoing,2,NaN,NaN,NaN,NaN,mid,"Parker, Sebastian",Jan Walker,NaN

The percent cover data gives the estimated cover of a number of cover types (including plants and macroalgae) in 5 replicate plots along each transect.

In [30]:
## Look at percent cover data

veg_cover.head()

,SiteID,EstuaryName,StationNo,SampleCollectionDate,TransectReplicate,Habitat classification,PlotReplicate,Substrate,CoverType,Live/Dead,ScientificName,CommonName,Status,EstimatedCover,PercentCoverCode,DaubenmireMidpoint,TallestPlantHeight_cm,PercentCoverNotes
0,SC-GOL,Goleta Slough,1,2021-03-25,1,mid marsh,1,NaN,open,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,SC-GOL,Goleta Slough,1,2021-03-25,1,mid marsh,1,NaN,dead plant material,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN
2,SC-GOL,Goleta Slough,1,2021-03-25,1,mid marsh,1,NaN,vegetative,live,Atriplex,saltbush,NaN,40.0,NaN,NaN,30.0,NaN
3,SC-GOL,Goleta Slough,1,2021-03-25,1,mid marsh,1,NaN,vegetative,live,Distichlis spicata,Saltgrass,NaN,20.0,NaN,NaN,NaN,NaN
4,SC-GOL,Goleta Slough,1,2021-03-25,1,mid marsh,1,NaN,vegetative,live,Frankenia salina,Alkali heath,NaN,10.0,NaN,NaN,10.0,NaN

The epifauna data gives the number of invertebrates or invertebrate burrows (crab burrows, coffee bean snail, horn snail,
ribbed mussel, pachygrapsus burrows, etc.) observed within each plot. The count is in the EnteredAbundance column. Sometimes subsampling is used. The abundance per m2 is in the EstimatedAbundance column.

In [31]:
## Look at epifauna data

veg_epi.head()

,SiteID,EstuaryName,StationNo,SampleCollectionDate,Habitat elevation,TransectReplicate,PlotReplicate,ScientificName,CommonName,Entered Abundance,measured quadrat size (0.25*4 = 1),Estimated Abundance
0,NaN,Goleta Slough,1,2021-03-23,mid,1,1,crab burrows,crab burrows,1,0.25 m,4
1,NaN,Goleta Slough,1,2021-03-23,mid,1,2,Melampus olivaceus,coffee bean snail,NaN,0.25 m,0
2,NaN,Goleta Slough,1,2021-03-23,mid,1,3,none,NaN,0,0.25 m,0
3,NaN,Goleta Slough,1,2021-03-23,mid,1,4,Melampus olivaceus,coffee bean snail,1,0.25 m,4
4,NaN,Goleta Slough,1,2021-03-23,mid,1,5,none,NaN,0,0.25 m,0

## Fish Seines